/*body {
    background-color: rgb(114, 106, 78);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    height: 100vh;
    
}

.logo {
width: 15vh
}*/

.gameContainer {
    text-align: center;
}
header div {
    display: flex;
    align-items: center;

}
.container .image {
    width: 100%;
    height: 100%;
    height: auto;
    border-radius: 0.5em;
    box-shadow: 0 0  5px black;
    transition: all 1s ease;
    
}
footer {
    width: 80vw;
    margin: 0 auto;
    line-height: 1.5em;
}
button a {
    text-decoration: none;
    color: rgb(114, 106, 78);
    
}
.start {
    margin-top: 1em;
    box-shadow: 0 0  15px black;
    background-color: rgb(60, 95, 95);
    line-height: 2em;
    width: 30vw;
    margin: 0 auto;
    border-radius: 0.2em;
    text-align: center;
    
}
.start:hover {
    box-shadow: 0 0  8px black;
}
a {
    text-decoration: none;
    text-align: left;
    font-size: 18px;
    font-weight: 900;
    padding: .5em;
    
}

.btn {
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    padding: .5em;
    background-color: #00ffff94;
    width: 30vw;
    margin: 1em auto;
    cursor: pointer;
    box-shadow: 0 0  15px black;
    border-radius: 0.5em;
    width: 200px;
    text-transform: uppercase;
}
.btn:hover {
    box-shadow: 0 0  8px black;
}

.popbonus {
    visibility: hidden;
    
}

#popbonus {
margin: auto;
width: 250px;
text-align: center;
padding: 1em 0;
}
p span {
    font-size: 1.2em;
    opacity: 0.7;
}

.gameHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#score {
    box-sizing: border-box;
    font-size: 1.2em;
    font-weight: 800;
    margin-right: 1em;
    border-radius: .2em;
    padding: .5em;
    border: 1px solid rgba(0,0,0,0.3);
   width: 75%;
   margin: auto;
   max-width: 75vh;

}

.hidden {
    display: none;
    visibility: hidden;
}

.win {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    background-color: aqua;
    width: 70vw;
    box-shadow: 0 0  15px black;
    animation: pup 2s ease-out ;
    border-radius: 1em;
    
    text-align: center;
}
@keyframes pup {
    0% {
        transform: scale(0) ;
    }
    50% {
        transform: scale(5) ;
    }
}

#next {
    cursor: pointer;
    
    font-size: 2em;
    animation: blink 1s ease-in-out 2s infinite;
}

@keyframes blink {
    0% {
        color: #850000;
    }
    100% { 
        color: black;
        border: 1px solid black ;
        border-radius: 5% ;
    }
}
.stop {
    position: absolute;
    /* top: 0;
    bottom: 0;
    right: 0;
    left: 0;*/
    width: 100%;
    height:100%;

    background-color: rgba(90, 90, 90, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.container {
   
    min-width: 300px;
    max-width: 75vh;
    margin: auto;
    height: 100%;
    display: grid;
    grid-template:repeat(3, auto) /repeat(3, 25%) ;
    gap: 5px;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    position: relative;
}

.about {
    position: absolute;
    background-color: #cde4e4;
    padding: 0.5em;
    color: rgba(90, 90, 90, 0.9);
    font-family: sans-serif;
}
